/*----------------------------------
----------------General--------------
------------------------------------*/
/*.banner {
  .first-col {
    background: $blue-banner url("#{$images-path}banner_texture.png") no-repeat top center / cover;
  }
}*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overscroll-behavior: contain;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.main-slide {
  display: none;
}

.main-slide.current {
  display: block;
}

.btn-audio {
  max-width: 100px;
}
//------------------------

.modal-open {
  overflow: auto;
}

.info-container,
.last-container,
.main-container {
  min-height: 100vh;
}

.p-box {
  font-family: 'Montserrat-Regular';
  background-color: $purple-4-site;
  border: 2px solid $purple-5-site;
  color: $white-site;
  padding: 0.6em 1.2em;
  line-height: 1.1;
  border-radius: 20px;
  margin-bottom: 2em;
  font-size: 0.7em;

  q {
    font-style: italic;
    display: block;
    margin-top: 1em;
    text-align: right;
  }
}

.question-text {
  font-family: 'Montserrat-Regular';
  color: $white-site;
  line-height: 1.1;
  font-size: 0.7em;
  margin-bottom: 2em;
}

.last-container,
.main-container {
  background-color: $purple-site;
  width: 100%;
  position: absolute;

  &::after,
  &::before {
    content: "";
    position: absolute;
    z-index: 0;
    width: 50vw;
    height: 100%;
  }

  &::before {
    background: url("#{$images-path}bg_welcome_1.png") no-repeat 0 0/contain;
    top: 0;
    left: 0;
  }

  &::after {
    background: url("#{$images-path}bg_welcome_2.png") no-repeat 100% 100%/contain;
    bottom: 0;
    right: 0;
  }

  & > div {
    z-index: 1;
  }

  .text-container {
    h1 {
      font-family: 'Gotham-Black';
      line-height: 1;
    }

    h4 {
      font-family: 'Montserrat-ExtraLight';
    }

    .white-text {
      color: $white-site;
    }

    .yellow-text {
      color: $yellow-site;
    }
  }
}

.main-container {
  .text-container {
    text-align: right;

    h1 {
      font-size: 4em;
    }

    h4 {
      font-size: 1.1em;
    }
  }

  .unal-logo {
    float: right;
    margin-top: 40px;
  }
}

.btn-back,
.btn-next {
  background: url("#{$images-path}img_spritesheet.png");
  height: 70px;
  width: 70px;
}

.btn-back {
  background-position: -6px -86px;

  &:hover {
    background-position: -89px -86px;
  }
}

.btn-next {
  background-position: -6px -6px;

  &:hover {
    background-position: -89px -6px;
  }
}

.btn-pdf {
  background-color: $lightgray-site;
  color: $standard-blue-site !important;
  font-weight: 900;
  font-family: "MontserratAlternates-ExtraLight";
}

.info-container {
  background-color: $purple-2-site;

  .content-row {
    margin: 3% 0;
  }
}

.welcome-image {
  text-align: center !important;
  width: 40%;
}

.last-container {
  padding: 35px 0;

  .text-container {
    h1,
    h4 {
      width: 100%;
      text-align: center;
    }

    h1 {
      font-size: 3em;
    }

    h4 {
      font-family: "Montserrat-ExtraLight";
      font-size: 1em;
      margin: 50px 10vw;
    }
  }
}

.answers-buttons {
  .btn-light {
    background-color: $purple-3-site;
    font-family: 'Montserrat-Regular';
    color: $white-site;
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    width: calc(100% - 27px);
    border-radius: 25px;
    margin-bottom: 2em;
    font-size: 0.54em;
    line-height: 1.1;

    &.disabled {
      pointer-events: none;
    }

    &.no-image {
      .answer-text {
        font-size: 1.8em;
        font-weight: 900;
        padding: 15px !important;
      }
    }

    &.square-left {
      margin-left: 27px;

      .answer-text {
        text-align: left;
      }

      .answer-sign {
        margin-left: -27px;
        margin-right: 0;
      }
    }
  }

  .answer-img {
    min-height: 160px;
    min-width: 160px;
    background-color: $white-site !important;
    border-radius: 25px;

    &.first {
      background: url("#{$images-path}img_s2_opc1.png") no-repeat center / contain;
    }

    &.second {
      background: url("#{$images-path}img_s2_opc2.png") no-repeat center / contain;
    }

    &.third {
      background: url("#{$images-path}img_s2_opc3.png") no-repeat center / contain;
    }

    &.fourth {
      background: url("#{$images-path}img_s2_opc4.png") no-repeat center / contain;
    }
  }

  .answer-text {
    margin: 0;
    padding: 15px;
    width: 100%;
  }

  .answer-sign {
    min-height: 54px;
    min-width: 54px;
    background-color: $white-site;
    border: 6px solid $yellow-site;
    border-radius: 10px;
    margin-right: -27px;
    display: flex;
    align-items: center;
    justify-content: center;

    .circle {
      height: 22px;
      width: 22px;
      border-radius: 100px;

      &.correct {
        background-color: $green-correct-answer;
        -webkit-box-shadow: 0 0 0 6px rgba($green-correct-answer, 0.4);
        -moz-box-shadow: 0 0 0 6px rgba($green-correct-answer, 0.4);
        box-shadow: 0 0 0 6px rgba($green-correct-answer, 0.4);
      }

      &.incorrect {
        background-color: $red-incorrect-answer;
        -webkit-box-shadow: 0 0 0 6px rgba($red-incorrect-answer, 0.4);
        -moz-box-shadow: 0 0 0 6px rgba($red-incorrect-answer, 0.4);
        box-shadow: 0 0 0 6px rgba($red-incorrect-answer, 0.4);
      }
    }
  }
}

.exit-image {
  text-align: center !important;
  width: 40%;
  height: 100% !important;
}