/*----------------------------------
-----------------Fonts--------------
------------------------------------*/
@font-face {
  font-family: 'Montserrat-ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/montserrat/Montserrat-ExtraLight.otf");
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat/Montserrat-SemiBold.otf");
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat/Montserrat-Medium.otf");
}

@font-face {
  font-family: 'MontserratAlternates-ExtraLight';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/montserrat-alternates/MontserratAlternates-ExtraLight.ttf");
}
@font-face {
  font-family: 'Gotham-Black';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/gotham/Gotham-Black.otf");
}