/*----------------------------------
--------------Media Query-----------
------------------------------------*/
@media only screen and (min-width: 1200px) {
  .info-container {
    .sliderContainer {
      margin-left: 24.5%;
    }
  }
}
@media only screen and (min-width: 992px) {
  .info-container {
    .content-row{      
      margin: 1% 0;
    }
    .buttons-container {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
  
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-container {
    .text-container {
      h1 {
        font-size: 3em;
      }
    }
  }

  .info-container {
    .sliderContainer {
      margin-left: 19.5%;
    }
  }
}
@media only screen and (max-width: 991px) {
  .main-container {
    padding: 40px 0;

    .text-container {
      text-align: center;
    }
  }

  .info-container {
    font-size: 25px;

    .btn-map {
      margin-top: 20px;
    }
  }
}
@media only screen and (max-width: 991px) {
  .main-container {
    .text-container {
      h1 {
        font-size: 3em;
      }
    }

    .logo-container {
      text-align: center;

      .unal-logo {
        float: none;
      }
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .info-container {
    .sliderContainer {
      margin-left: 8%;
    }
  }
}
@media only screen and (min-width: 768px) {
  .info-container,
  .main-container {
    font-size: 30px;
  }
  .p-container-select{
    text-align: left;
  }
  
  .exit-image{
    width: 20%;
  }

  .welcome-image{
    img{
      width: 100% !important;
    }
    
  }

  
}
@media only screen and (max-width: 767px) and (orientation:portrait) {
  
}
@media only screen and (max-width: 767px) and (orientation:landscape) {
  
}
@media only screen and (max-width: 767px) {
  #controls .navbar-nav {
    justify-content: center;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    .last-container,
    .main-container {
      font-size: 20px;
    }
  }

  .info-container {
    .sliderContainer {
      margin-left: -23px;
    }
  }
}
@media only screen and (min-width: 576px) {
  .play-container {
    display: flex;
    align-items: center;
  }
  .welcome-image{
    img{
      width: 40%;
    }
    
  }
  
}
@media only screen and (max-width: 575px) {
  .last-container,
  .main-container {
    &::after,
    &::before {
      width: 75vw;
    }
  }

  .welcome-image {
    //max-width: 280px;    
  }

  
}
@media only screen and (max-width: 300px) {
  #controls {
    .next,
    .prev {
      font-size: 20px;
    }
  }
}