/*----------------------------------
----------------Modal--------------
------------------------------------*/

.modal{  

  .modal-content{  

    background-color: $purple-site-dark;  
    border-radius: 15px;
    border: 0.1em solid $purple-site-lighter;
      

    .modal-body{
    
      padding: 1.5em;      
      p{        
        color:$white-site;      
        font-family: 'Montserrat-Regular';  
      }
      h4{
        text-align: center;
        color: $yellow-site;
        margin-bottom: 1em;
      }    
    }
}
  
}