/*----------------------------------
---------------Variables------------
------------------------------------*/
$site-name: site-bienestar-laboral;
$site-slider: bienestar_laboral_home_slider;
$path-site: edu-buscandocarrera;
$images-path: "../images/"; //
/* Colors -------------------------------*/
$white-site: #fff !default;
$white-alpha: #fff5 !default;
$black-site: #000 !default;
$purple-site-lighter: #9D7DB6;
$purple-site-light: #805399 !default;
$purple-site: #733C8C !default;
$purple-site-dark: #56217C !default;
$purple-site-darker: #672A81;
$select-main-bg: #504F77;
$select-option-light: #9D7DB6;
$select-option-dark: #805399;
$aqua-site: #41cac6 !default;
$blue-site: #61abb4 !default;
$standard-blue-site: #4c6ccf !default;
$yellow-site: #ffb10d !default;
$green-site: #156B61 !default;
$lightaqua-site: #5ed2cf !default;
$orange1-site: #f4d9ae !default;
$orange2-site: #fccc75 !default;
$orange3-site: $yellow-site !default;
$green-correct-answer: #8cc63f !default;
$red-incorrect-answer: #ed1c24 !default; /*Measures*/
// -------------------------------
$main-header-height: 132px;